@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  font-size: 80.5%;
  box-sizing: border-box;
}
body,
input,
select,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
  font: 1.6rem;
}
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover {
  color: #ff8000;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header', 'main', 'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  grid-area: 'header';
  background-color: #203040;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
}
header a {
  color: white;
  text-decoration: none;
}
main {
  grid-area: 'main';
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 'footer';
  background-color: #203040;
  color: white;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 4 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/*Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 32rem;
  height: 45rem;
  padding: 0.5rem;
}
.product {
  background-color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  overflow: hidden;
  height: 100%;
  border-radius: 1.5rem;
}
.product a {
  text-decoration: none;
  color: black;
}
.product img {
  overflow: hidden;
  max-width: 37rem;
  max-height: 38rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
}
.product-price div {
  margin: 0 2rem;
  font-size: 2rem;
}
.button {
  padding: 0.7rem 2rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button.primary {
  border-radius: 0z.5rem;
  margin: 0.4rem 0.8rem;
  background-color: #f0c040;
  cursor: pointer;
}
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem gray solid;
}
.filter div {
  flex: 1;
}
.cart {
  padding: 1.2rem 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-header {
  border-bottom: 0.1rem gray solid;
}
.cart-item {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-item img {
  width: 60%;
  object-fit: cover;
}
.cart-item li {
  background-color: rgb(218, 218, 218);
  margin: 1rem 0;
  border-bottom: 0.1rem gray solid;
  display: flex;
}

.cart-item li div {
  padding: 0.5rem;
}
.cart-item li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}
.button-remove {
  padding: 0.4rem 2rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #fdb312;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 1.2rem;
}
.total > div,
.total > button {
  flex: 1;
}
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
input {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
}
.product-details {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 83vh;
  max-width: 30rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  z-index: 1000;
}
.buttonc {
  border-radius: 0z.5rem;
  margin: 0.4rem 0.8rem;
  background-color: #f0c040;
  cursor: pointer;
}
